<nav class="navbar navbar-expand-sm bg-light navbar-light">



  <ul class="navbar-nav">

    <div class="d-flex flex-row align-items-center">
      <li class="navbar-home">
        <a class="navbar-brand" href="#">TRAININGS</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/trainings">Liste des Formations</a>
      </li>
    </div>
  </ul>

  <ul class="navbar-nav">
    <div class="d-flex flex-row nav-right">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/account">Mon compte</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/cart">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-heart" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5Zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0ZM14 14V5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1ZM8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
          </svg>
        </a>
      </li>

      <li class="nav-item" *ngIf="isAuth">
        <a class="nav-link" href="#" (click)="onDeco()" routerLink="/account">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-box-arrow-right text-danger" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
            <path fill-rule="evenodd"
              d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
          </svg>
        </a>
      </li>
    </div>
  </ul>

</nav>
<router-outlet> </router-outlet>